.content {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.content > .row {
  height: 100%;
}
.content > .row .view {
  display: inline;
  height: 100%;
}
.fragment {
  padding: 30px 15px;
  height: 100%;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  .fragment {
    display: none;
  }
  .fragment.visible {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    float: none;
    display: block;
    text-align: center;
  }
}
.navbar-back {
  display: none;
  position: relative;
  float: left;
  margin: 7.5px 0 7.5px 15px;
  padding: 6px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #888888;
}
.navbar-back:hover,
.navbar-back:focus {
  background-color: #dddddd;
}
.navbar-back .icon-bar {
  background-color: #888888;
}
@media (max-width: 768px) {
  .navbar-back.visible {
    display: block;
  }
}
.navbar-inverse .navbar-back {
  border-color: #333333;
  color: #ffffff;
}
.navbar-inverse .navbar-back:hover,
.navbar-inverse .navbar-back:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-back .icon-bar {
  background-color: #ffffff;
}
